<div class="row mx-4">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-2"
       *ngFor="let card of cards">

    <md-card class="card">
      <img md-card-image src="assets/tree.jpeg" class="card-img">

      <md-card-content>
        <p>
          This is a very simple content for the card.
          This is a very simple content for the card.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>

  </div>
</div>

<!--<div *ngFor="let card of cards" class="card-container">-->

  <!--<md-card class="card">-->
    <!--<img md-card-image src="http://lorempixel.com/200/200/" class="card-img">-->

    <!--<md-card-content>-->
      <!--<p>-->
        <!--This is a very simple content for the card.-->
        <!--This is a very simple content for the card.-->
      <!--</p>-->
    <!--</md-card-content>-->
    <!--<md-card-actions>-->
      <!--<button md-button>LIKE</button>-->
      <!--<button md-button>SHARE</button>-->
    <!--</md-card-actions>-->
  <!--</md-card>-->

<!--</div>-->
