<div class="container">
  <div class="cards row mx-4" #cardContainer
       [attr.data-isotope]="isotopeConfig">
    <div class="card p-2"
         *ngFor="let card of cards; let i = index"
         [ngClass]="{'card-big': i < 2, 'card-small': i >= 2}">


      <div class="card-flip" [ngClass]="{'do-flip': card.flip}">
        <div class="flip">
          <div class="front">
            <!-- front content -->

            <md-card class="md-card">
              <img md-card-image src="assets/tree.jpeg" class="card-img">

              <md-card-content>
                <p>
                  This is a very simple content for the card.
                  This is a very simple content for the card.
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button (click)="flip(card)">FLIP</button>
              </md-card-actions>
            </md-card>


          </div>
          <div class="back">
            <!-- back content -->

            <md-card class="md-card">
              <md-card-content>
                <h1>backside of the card</h1>
                <p>
                  This is a very simple content for the card.
                  This is a very simple content for the card.
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button (click)="flip(card)">FLIP</button>
              </md-card-actions>
            </md-card>


          </div>
        </div>
      </div>

      <!--<md-card class="md-card">-->
        <!--<img md-card-image src="assets/tree.jpeg" class="card-img">-->

        <!--<md-card-content>-->
          <!--<p>-->
            <!--This is a very simple content for the card.-->
            <!--This is a very simple content for the card.-->
          <!--</p>-->
        <!--</md-card-content>-->
        <!--<md-card-actions>-->
          <!--<button md-button>LIKE</button>-->
          <!--<button md-button class="flip()">Flip</button>-->
        <!--</md-card-actions>-->
      <!--</md-card>-->

    </div>
  </div>
</div>
