<md-toolbar color="primary">
  <button md-icon-button class="mr-2" (click)="openNav.emit()">
    <md-icon>menu</md-icon>
  </button>


  <span>Material Demo</span>
  <span class="spacer"></span>

  <md-icon md-icon-button>notifications</md-icon>

  <button md-icon-button class="ml-4 mr-2" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>account_circle</md-icon>
  </button>

  <md-menu #menu>
    <button md-menu-item>
      <span>Profile</span>
    </button>
    <button md-menu-item disabled>
      <span>Settings</span>
    </button>
    <button md-menu-item>
      <span>Logout</span>
    </button>
  </md-menu>

</md-toolbar>
