<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-6 my-4">

      <md-card class="card">
        <md-card-header>
          <md-card-title>Simple signup form</md-card-title>
        </md-card-header>

        <md-card-content>

          <md-input-container>
            <input mdInput placeholder="Full name" value="">
          </md-input-container>

          <md-input-container>
            <input mdInput type="email" placeholder="Email" value="">
          </md-input-container>

          <md-input-container>
            <input mdInput type="password" placeholder="Password" value="">
          </md-input-container>

          <div class="buttons-container">
            <button md-raised-button color="primary">Signup</button>
            <md-checkbox class="mr-4">I Agree with Terms</md-checkbox>
          </div>

        </md-card-content>
      </md-card>

    </div>




    <div class="col-sm-12 col-md-6 my-4">

      <md-card class="card">
        <md-card-header>
          <md-card-title>Material items</md-card-title>
        </md-card-header>

        <md-card-content>

          <md-slider></md-slider>
          <md-progress-spinner mode="indeterminate"></md-progress-spinner>

        </md-card-content>
      </md-card>

    </div>



  </div>
</div>
